@import '../../styles/colors';

.mainview{
    width:65%;
    position:absolute;
    right:95px;
    min-height: 450px;
    border-radius: 10px;
    background:$articleBackground;

    @media (max-width: 1168px) {
        width:94%;
        right:0;
        margin-top: 15px;
        position: relative;
        margin-left: 0.5%;
    }  

    @media (min-width: 968px) and (max-width: 1448px) {
        right:55px;
    } 
}

.articleText{
    font-size:32px;
    padding:40px;
    padding-inline: 125px;
    color:$articleColor;

    @media (min-width: 268px) and (max-width: 568px) {
        font-size:18px;
        padding:15px;
    }  

    @media (min-width: 968px) and (max-width: 1448px) {
        
    } 
}

.mainviewTitle{
    font-size:46px;
    padding:40px;
    color:$articleTitle;
    //border-bottom:3px solid #686de0;
    width:80%;
    margin:auto auto;
    margin-bottom: 35px;

    @media (min-width: 268px) and (max-width: 568px) {
        font-size:24px;
        margin:auto auto;
        margin-bottom: 35px;
        padding:15px;
    }  

    @media (min-width: 968px) and (max-width: 1448px) {
        
    } 
}

.arrows{
    margin: auto auto;
}

.inner-border {
	border: 5px solid #DE9B72;
   	height: 99%;
    width: 98%;
    padding: 11px;
    margin: auto auto;
    border-radius: 10px;
    background:$articleBackground;
}

.vertical-decoration {

    @media (max-width: 1168px) {
        width:100%;
        
    }  

    @media (min-width: 968px) and (max-width: 1448px) {
        width:100%;
    } 
}

