.mainview{
    border:2px solid #fff;
    width:70%;
    position:absolute;
    right:35px;
    min-height: 450px;
    border-radius: 10px;
}

.articleText{
    font-size:28px;
}

.mainviewTitle{
    font-size:46px;
}