.dictionary{
    margin-top:85px;
}

.dictionaryHeader{
    font-size: 30px;
    margin-bottom: 65px;
}

.dictionaryDef{
    font-size: 27px;
    list-style: none;
    word-spacing: 40px; 
    text-align: center;
    margin:25px 0;
}

.title{
    color:rgb(24, 175, 150);
    font-weight: 700;
}