// BODY
$background:#320d3e;
$ul: #576574;

// SIDEBAR
$sidebarList: rgba(0,0,0,.45);//#f162ff;
$sidebarColor:#fffa65;
$sidebarColorWelcome:#ff793f;
$sidebarLongColor:#2ed573;
$sidebarMediumColor:#0652DD;
$sidebarShortColor:#EA2027;
$sidebarBorder:rgba(0,0,0,.55);;

//ARTICLE
$articleBackground:#ffd79d;
$articleColor:#130f40;
$articleTitle:#686de0;
