.about{
    width: 80%;
    height:80%;
    border-radius: 10px;
    
    padding:50px;
    margin: auto auto;
    display: flex;
    flex-direction: column;
}

.aboutHeader{
    font-size: 42px;
}

.aboutText{
    font-size:32px;
    flex:2;
    margin: auto auto;
}

.aboutBox{
    flex-direction: column;
    display: flex;
    margin-top: 55px;
    margin-bottom: 35px;
}

.aboutMinibox{
    flex-direction: row;
    display: flex;
    border-radius: 25px;
    margin: 10px 0;
    color:#fbc531;
    padding:15px;

    @media (max-width: 749px){
        flex-direction: column;
      }
      
      @media (min-width:750px) and (max-width: 1168px) {
        flex-direction: column;
    } 
}

.aboutMinibox:nth-child(1){
    background-color: rgba(148, 151, 212, 0.1); 
}

.aboutMinibox:nth-child(2){
    background-color: rgba(200, 235, 87, 0.1); 
}

.aboutMinibox:nth-child(3){
    background-color: rgba(220, 108, 212, 0.1); 
}

.aboutImage{
    flex:1;
    width: 156px;
    height: 256px;
    object-fit: cover;
    border-radius: 25px;
    @media (max-width: 1168px){
        width: 216px;
        margin: auto auto;
      }

}

.aboutLeftPanel{
    flex:1;
}

.aboutRightPanel{
    flex:3;
}
