@import '../../styles/colors';

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 196px;
    background: $background;
    color:#fff;

    @media (min-width: 268px) and (max-width: 568px) {
        margin-bottom: 25px;
    }  

    
    @media (min-width: 568px) and (max-width: 848px) {
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
    } 
}

.navLinks{
    width:60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size:34px;
    color:#fff;
    margin: auto 0;
    margin-left: 255px;

    @media (min-width: 268px) and (max-width: 568px) {
        display: none;
    }  

    @media (min-width: 568px) and (max-width: 848px) {
        display: none;
    } 
}

.link{
    text-decoration: none;
    
    

    @media (min-width: 268px) and (max-width: 568px) {
        display: none;
    }  

    @media (min-width: 568px) and (max-width: 848px) {
        
    } 
}

.link:hover{
    color:#706fd3;
    transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 0  0 0 5px  #706fd3;
}

.logo{
    width:340px;
    position: absolute;
    left:85px;
    top:0;

    @media (min-width: 268px) and (max-width: 568px) {
        margin: auto auto;
        left:0;
        width:315px;
    }  

    @media (min-width: 568px) and (max-width: 848px) {
        margin: auto auto;
        width:370px;
    } 
}

.faBars{
    border-radius: 5px;
    font-size: 32px;
    display: none;
    background: rgba(0,0,0,0.5);

    @media screen and (max-width: 768px){
        display: block;
        position: absolute;
        top:0;
        right:0;
        transform: translate(-100%, 60%);
        font-size: 28px;
        cursor: pointer;
        color: #fff;
        margin-top:-6px;
        
    }
}