@import '../../styles/colors';

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 196px;
    background: $background;
    color:#fff;
    
    
}

.navLinks{
    width:60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size:34px;
    color:#fff;
    margin: auto 0;
}

.link{
    text-decoration: none;
}

.link:hover{
    color:#706fd3;
    transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 0  3px  #706fd3;
}

.logo{
    width:340px;
    position: absolute;
    left:85px;
    top:0;
}